<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>List: <%= @todo_list.name %></title>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
  </head>
  <body>    
    <h1><%= @todo_list.name %></h1>
    <ul class="items">
      <% for item in @todo_list.items %>
        <li>
          <form action="/lists/check_item" method="post">
            <input type="hidden" name="list_id" value="<%= @todo_list.list_id %>" />
            <input type="hidden" name="item_id" value="<%= item.item_id %>" />
            <input type="checkbox" onmouseup="submit()" />
            <%= item.to_s %>
          </form>          
        </li>
      <% end %>
    </ul>
    <form action="/lists/add_item" method="post">
      <input type="hidden" name="list_id" value="<%= @todo_list.list_id %>" />
      <input type="text" name="description" size=40 class="item" />
      <br/>
      <input class="item" type="submit" value="+ Add this item"/> 
      <a href="/" class="admin">Close</a>
    </form>
    
    <ul class="items checked">
      <% for item in @todo_list.checked_items %>
        <li>            
            <%= item.to_s %>
        </li>
      <% end %>
    </ul>
  </body>
</html>